extends ../base.pug

block variables 
  - var templates = 'home'

block content 
  .home
    .home__wrapper 
      .home__titles
        each collection, index in collections 
          .home__titles__label=`${home.data.collection} ${Numbers(index)}`
          .home__title__title=collection.data.title
      .home__gallery
        each media in home.data.gallery   
          figure.home__gallery__media 
            img.home__gallery__media__image(alt=media.image.alt src=media.image.url)

      a.home__link(href=Link(home.data.collections))=home.data.button
        svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
          <svg width="288" height="60" >
            <g id="cta" transform="translate(-1062.53 -971.078)">
              <text id="Discover_Collections_" data-name="Discover Collections " transform="translate(1206.53 1004.578)" fill="#fff" font-size="14" font-family="SuisseBPIntl-Light, Suisse BP Intl" font-weight="300" letter-spacing="0.02em"><tspan x="-80.311" y="0">DISCOVER COLLECTIONS </tspan></text>
              <g id="Elipse_2" data-name="Elipse 2" transform="translate(1062.53 971.078)" fill="none" stroke="#fff" stroke-width="1" opacity="0.4">
                <ellipse cx="144" cy="30" rx="144" ry="30" stroke="none"/>
                <ellipse cx="144" cy="30" rx="143.5" ry="29.5" fill="none"/>
              </g>
            </g>
          </svg>
